
/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f0f0f0;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*  }*/
  
  header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-in-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:black;
  }
  
  /* Style the "Already have an account?" link */
  .sign-in-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .sign-in-link a:hover {
    text-decoration: underline;
  }