.container {
    text-align: center;
    margin-top: 50px;
}
/* styles/Home.module.css */
/* styles/Home.module.css */
.removeButton {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 5px;
}
